{
  "CLASOR_CLIENT": "http://localhost:3000",
  "CLASOR_SERVER": "https://clasor-backend.sandpod.ir",
  "SSO_ORIGIN": "https://sso-sandbox.sandpod.ir",
  "OAUTH_CLIENT_ID": "REPLACE_ME",
  "TEST_USERNAME": "",
  "TEST_PASSWORD": ""
}

